@media screen and (width <= 1260px) {
    .section, .contact-sec,.title-bar{
        padding: 2rem 4rem;
    }
    .connect-container{
        padding: 0 4rem;
    }
}

@media screen and (max-width: 1024px) {
    .title-bar > span{
        display: none !important;
    }
    .title-bar{
        justify-content: stretch;
    }
    .title-bar > a > strong{
        width: auto;
    }
    .name{
        font-size: calc(42px + 2vw);
    }
}
@media screen and (max-width: 900px) {
    .abtcontainer{
        width: 100%;
    }
    .section,.contact-sec, .title-bar{
        padding: 2rem;
    }
    .contact-sec {
        flex-direction: column;
        align-items: stretch;
        gap: 3rem;
    }
    .contact-head{
        width: 100%;
    }
    .contact-sec .cta{
        width: 100%;
        justify-content: center;
    }
    .connect-container{
        padding: 0rem 2rem;
    }
    .abt-p {
        width: auto;
    }
    .app-name{
        font-size: 18px;
    }
    .app-name img{
        height: 24px;
    }
    .stack-name{
        font-size: 20px;
    }
}
@media screen and (max-width: 720px) {
    h2.app-name{
        font-size: 16px;
    }
    .skills-sec .skill-wrapper{
        display: flex;
        flex-direction: column;
    }
    .contact-head p{
        margin-top: 1.5rem;
    }
    .appcontainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 530px) {
    .abt-h1, .name{
        font-size: 28px;
    }
    .abt-p{
        font-size: 16px;
        padding-bottom: 2rem;
    }
    .feature-img{
        margin: 3rem 0;
        aspect-ratio: 16/12;
    }
    .container{
        gap: 1.2rem;
    }
    .contact-head strong{
        font-size: 2rem;
    }
    .appcontainer{
        grid-template-columns: 1fr;
    }
    .stack-name{
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .connect-wrapper{
        flex-direction: column-reverse;
        padding: 1rem 0;
    }
    .connect-icons{
        justify-content: center;
    }
}

